<ion-view title="Board List">
    <ion-content scroll="false" has-bouncing="false" class="">

        <ion-slide-box class="stage-slides">
            <ion-slide
                    ng-repeat="stageBoards in allBoards">
                <div class="stage-slide">
                    <h3 ng-if="$index < allBoards.length-1">STAGE {{$index+1}}</h3>
                    <h3 ng-if="$index === allBoards.length-1">SAVED BOARDS</h3>
                    <div class="stage">
                        <div class="stage-board"
                                ng-repeat="board in stageBoards"
                                ng-click="loadGame(board)"
                                on-hold="editGame(board)">
                            <span>{{board.boardData[0].length}}&times;{{board.boardData.length}}</span>
                            <i class="board-flag ion-trophy"
                                    ng-if="board.solved"></i>
                        </div>
                        <div class="stage-board new"
                                ng-if="$index === allBoards.length-1"
                                ui-sref="create">
                            <i class="icon ion-plus"></i>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>

</ion-view>
