<ion-view title="Board Size">
    <ion-content scroll="false" class="row">

        <div class="range-block">
            <div class="range-block-content">
                <num-picker value="size.x" min="size.minX" max="size.maxX"></num-picker>
                <div>&times;</div>
                <num-picker value="size.y" min="size.minY" max="size.maxY"></num-picker>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-clear">
        <div class="buttons">
            <button class="button button-icon"
                    ng-click="$ionicGoBack()">BACK</button>
        </div>
        <div class="buttons pull-right">
            <button class="button button-icon"
                    ng-click="editBoard()">NEXT</button>
        </div>
    </ion-footer-bar>
</ion-view>
